{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
  <title>Electiva</title>

</head>

<body> <!--Este estilo hay que modificarlo como corresponde-->

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-bottom:50px">
    <div class="container">
      <a class="navbar-brand" href="#">Python con Django</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center">

        <div class="col-md-12 mb-5">
          <div class="card h-100" >
            <div class="card-body">
              <h2 class="card-title">Datos Previos</h2><br>
              <div class="row">
                <div class="col-md-3">
                  <h5>Número de Estudiantes: {{numFilas}}</h5>
                </div>
                <div class="col-md-3">
                  <h5>Número de Materias: {{numColumns}}</5>
                </div>
                <div class="col-md-3">
                  <h5>Estadistico: {{nombre}}</5>
                </div>
                <div class="col-md-3">
                  <h5>periodo escolar: {{periodo}}</5>
                </div>
              </div>
          </div>
        </div>

    </div>

    </div>
    <div class="row align-items-center">
      <div class="col-md-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              {% for e in dFrame %}
                  <th>
                    {{e}}
                  </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">#</th>
              {% for e in dFrame %}
                  <td>
                    {{e}}
                  </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-primary" name="button">Generar PDF</button>
          </div>
        </div>  
      </div>

    </div>
  </div>
  <br><br>
  <!-- Footer -->
  <footer class="py-4 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">I ♥ Django</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
